*{
    text-align: center;
}

img{
    width: 25%;
    height:fit-content;
    border-radius: 50%;
    filter: drop-shadow(0px 4px 8px #00000075);
}

.name{
    font-size: 1.75vw;
    font-weight: bold;
}

.description {
    font-size: 1.1vw;
    color: var(--body_description);
    font-weight: lighter;
}

.social-media {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    font-size: 3em;
    gap: 10%;
    color: var(--body_description);
}

.profile{
    background-color: var(--body_section_background);
    width: 40vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    box-shadow: 4px 4px 8px #00000025;
    gap: 24px;
    padding: 12px;
}


@media only screen and (max-width: 850px) {
    img {
        width: 125px;
    }

    .social-media{
        font-size: 2.5em;
    }

    .name{
        font-size: 24px;
    }

    .description{
        font-size: 14px;
    }
}

@media only screen and (min-width: 1920px){
    img {
        width: 250px;
    }

    .social-media{
        font-size: 4em;
    }

    .name{
        font-size: 36px;
    }
    .description{
        font-size: 20px;
    }
}

@media (hover: hover){
    
    .social-media a:hover{
        transform: scale(110%);
    }
}