*{
    text-align: center;
}

img{
    width: 12.5vw;
    height: auto;
    border-radius: 50%;
    z-index: -2;
    box-shadow: 0 0 25px 0px  #000000;
}

.name{
    font-size: 1.75vw;
    font-weight: bold;
}

.description {
    font-size: 1.1vw;
    color: #747C88;
    font-weight: lighter;
}

.social-media {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    font-size: 3em;
    gap: 10%;
}

.social-media a:hover{
    text-shadow: 0 0 10px var(--body_button_shadow);;
}

@media only screen and (max-width: 850px) {
    img {
        width: 125px;
    }

    .social-media{
        font-size: 2.5em;
    }

    .name{
        font-size: 24px;
    }

    .description{
        font-size: 14px;
    }
}

@media only screen and (min-width: 1920px){
    img {
        width: 250px;
    }

    .social-media{
        font-size: 4em;
    }

    .name{
        font-size: 36px;
    }
    .description{
        font-size: 20px;
    }
}
