@font-face {
	font-family: Hack;
	src: url(/assets/fonts/HackNerdFontMono-Bold.ttf);
	font-display: swap;
}

:root {
	--body_background: hsl(221, 12%, 32%);
	--body_color: hsl(207, 13%, 83%);
	--body_button_color: hsl(220, 11%, 11%);
	--body_button_shadow: hsl(207, 13%, 83%);
	--body_section_background: hsl(224, 12%, 19%);
	--body_button_text: hsl(207, 13%, 83%);
	--body_description: hsl(207, 13%, 83%);
}

* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	text-decoration: none;
	font-family: Hack;
}

body {
	background-color: var(--body_background);
	color: var(--body_color);
	width: 100vw;
	height: 100vh;
	transition: ease 0.05s;
}

a {
	color: var(--body_text_color);
	transition: ease-in 0.1s;
	text-transform: uppercase;
}

.container {
	width: 100vw;
	height: 100vh;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.content {
	display: flex;
	flex-direction: row;
	width: 90%;
	justify-content: space-around;
	align-items: center;
}

.profile {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 12px;
}

.footer {
	margin: 15px;
}

@media only screen and (max-width: 850px) {
	.container {
		width: 100vw;
		height: 90vh;

		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		gap: 10px;
	}

	.header {
		align-self: flex-end;
		margin-top: 15px;
		margin-right: 15px;
	}

	.content {
		display: flex;
		flex-direction: column;
		row-gap: 10vh;
		width: 80%;
		justify-content: space-between;
		align-items: center;
		margin-top: -25px;
	}

	.profile {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 12px;
		margin-bottom: -30px;
	}

	.links {
		display: flex;
		flex-direction: column;
		gap: 30px;
		align-items: center;
	}
}

@media (hover: hover) {
	a:hover {
		filter: drop-shadow(0px 0px 4px var(--body_button_shadow));
		transform: scale(105%);
	}
}
