:root {
    --body_background: #d8e6ff;
    --body_color: #0f1013;
    --body_button_color:  rgba(0,0,0,.25);
    --body_button_shadow: rgba(0, 0, 0, 0.25);
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
    font-family: 'Roboto', sans-serif;
}

[data-theme="dark"] {
    --body_background: #1C1F24;
    --body_color: white;
    --body_button_color:  rgba(0,0,0,.25);
    --body_button_shadow: rgba(255, 255, 255, 0.25);
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-color: var(--body_background);
    color: var(--body_color);
    width: 100vw;
    height: 100vh;
}

a{
    color: var(--body_color);
}

.container {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header {
    align-self: flex-end;
    margin: 30px;
}

.content {
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-around;
    align-items: center
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;   
}

.footer{
    margin: 15px;
}

@media only screen and (max-width: 850px){
    .container {
        width: 100vw;
        height: 90vh;
    
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    }
    
    .header {
        align-self: flex-end;
        margin-top: 15px;
        margin-right: 15px;
    }
    
    .content {
        display: flex;
        flex-direction: column;
        row-gap: 10vh;
        width: 80%;
        justify-content: space-between;
        align-items: center;
        margin-top: -25px;
    }
    
    .profile {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
        margin-bottom: -30px;   
    }
    
    .links {
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;    
    }
}